<section id="hero-wrap">
  <div class="banner">
    <h1>Briançon Real Estate</h1>
    <p>Trouvez votre Résidence en toute sécurité</p>
  </div>
</section>
<section id="about"></section>
<section id="properties"></section>
<section id="contact"></section>
